<!DOCTYPE html>

<html xmlns="http://www.w3c.or/199/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .contenido{
                text-align: center;
                border-radius: 20px;
                top:50%;
                left: 50%;
                margin-left: -250px;
                margin-top: -75px;
                width: 500px;
                height:150px;
                background-color: red;
                position:fixed;
                overflow:auto;                
            }
        </style>
    </head>
    <body>   
        <div class="contenido">
            <h2>[[#{e403.titulo}]]</h2>
            <p>[[#{e403.texto}]]</p>
            <a th:ref="@{/}">[[#{accion.regresar}]]</a>           
        </div>
    </body>
</html>