/* 
    Created on : 2 feb. 2022, 18:57:07
    Author     : Jonathan Brenes
*/

#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: blue;
    color: white;
}

#encabezado h1 {
    display: inline;
}

#menu {
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
}

#menu a:hover {
    background-color: green;
    color: white;
}

#barraLateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 82%;
    width: 20%;
    background-color: #00FFA0;
    padding: 10px;
}

#contenido {
    position: absolute;
    top: 12%;
    left: 20%;
    height: 82%;
    width: 80%;
    background-color: #7801A0;
    padding-right: 10px;
    overflow: auto;
}

#piePagina {
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 6%;
    width: 100%;
    background-color: #AABB00;
    text-align: center;
}

.tituloProducto {
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

h1, h2 {
    color: red;
}

#encabezadoTabla {
    background-color: green;
    color: white;
    text-align: center;
}

#tablaResumen tr:nth-child(odd) {
    background-color: coral;
    color: white;
}

#tablaResumen tr:nth-child(even) {
    background-color: white;
    color: yellowgreen;
}