<!DOCTTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TechShop</title>
        <style>
            .ejemplo { color: blue;}
            .error { color: red;}
        </style>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <!--<div>Saludos</div>
        <p th:text="${Mensaje}"></p>
        <p th:text="${Nombre}"></p>

        <h2>Cliente desde el modelo</h2>
        <p>Nombre: <span th:text="${cliente.nombre}"></span></p>
        <p>Apellidos: <span th:text="${cliente.apellidos}"></span></p>
        <p>Correo: <span th:text="${cliente.correo}"></span></p>
        <p>Teléfono: <span th:text="${cliente.telefono}"></span></p>

        <h2>Lista de clientes desde el modelo</h2>
        <div th:if="${clientes != null and !clientes.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${clientes}">
                        <td th:text="${item.nombre}" th:class="${item.nombre == 'Jonathan'} ? 'ejemplo' : 'error'"></td>
                        <td th:text="${item.apellidos}"></td>
                        <td th:text="${item.correo}"></td>
                        <td th:text="${item.telefono}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${clientes == null or clientes.empty}">
            La lista de clientes está vacía
        </div>-->
        
        
        <h2>Lista de clientes desde base de datos</h2>
        <br>
        <a th:href="@{/nuevoCliente}">Nuevo Cliente</a>
        <br>        
        <br>
        <div th:if="${clientesDB != null and !clientesDB.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${clientesDB}">
                        <td th:text="${item.nombre}" th:class="${item.nombre == 'Jonathan'} ? 'ejemplo' : 'error'"></td>
                        <td th:text="${item.apellidos}"></td>
                        <td th:text="${item.correo}"></td>
                        <td th:text="${item.telefono}"></td>
                        <td><a th:href="@{/modificarCliente/} + ${item.idcliente}">Modificar</a></td>
                        <td><a th:href="@{/eliminarCliente/} + ${item.idcliente}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${clientesDB == null or clientesDB.empty}">
            La lista de clientes está vacía
        </div>
        <footer th:replace="layout/plantilla :: footer"/>

    </body>
</html>
